# Byte-compiled / optimized / DLL files
**/__pycache__/
**/sum_runs/
**/runs/
**/stats/
**/final_vis/
**/scalar/
**/*.log

# Jupyter Notebook
**/.ipynb_checkpoints
**/*.ipynb

# Experiment
**/*.zip
**/*.pkl
**/*.png
**/*.npy
**/*.json
**/*.ipynb
**/.vscode
**/.DS_Store
**/what3d_clusters/*.zip
**/img/*.png
**/*.zip
**/*.npz
**/*.whl

