opencv-python
argparse
numpy
pyyaml
matplotlib
scikit-image
scipy
tensorboardx
tqdm
trimesh
easydict
tensorboard
plyfile
torchviz
seaborn
graphviz
scikit-learn
ipython
https://github.com/PyMesh/PyMesh/releases/download/v0.2.1/pymesh2-0.2.1-cp36-cp36m-linux_x86_64.whl